@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

.container-fluid {
  padding: 0;
  margin: 0;
}

.nav li a:hover {
  background-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(17, 17, 17, .5);
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #f8512f;
  background-color: rgba(17, 17, 17, .2);
}


.navbar-default .navbar-nav > li > a {
  color: #fcfcfc;
  text-shadow: 1px 1px 2px #0a0a0a;
}

nav.navbar {
  position: absolute;
  top: 100;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-brand > img {
  margin-top: -7px;
}

.wrap {
  min-height: 100vh;
}

.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  padding-bottom: 60px;
}

.carousel-inner .item {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.main_img1 {
  background-image: url('../img/wood-2.jpg');
}

.main_img2 {
  background-image: url('../img/restaurant-2.jpg')
}

.main_img3 {
  background-image: url('../img/farm-2.jpg');
}
.main_logo {
  max-height: 300px;
}

.btn-primary {
  color: #fff;
  background-color: #f8512f;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #d34326;
  border-color: transparent;
}

.carousel-caption p {
  color: #f7f7f7;
  font-size: 16px;
}

.
